<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readingList.mapper.BookMapper">

    <resultMap type="readingList.domain.Book" id="bookMap">
        <id column="id" property="id" />
        <result column="reader" property="reader" />
        <result column="isbn" property="isbn" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="author" property="author" />
        <result column="publish_id" property="publish_id" />
        <result column="publish_name" property="publish_name"/>
        <association property="publish" javaType="readingList.domain.Publish">
         	<id column="publish_id" property="publish_id" />
         	<result column="publish_name" property="publish_name"/>
        </association>
    </resultMap>

    <select id="findBookInfomation" resultMap="bookMap">
        select b.*, p.publish_id ,p.publish_name from book b
        left join publish p on b.publish_id = p.publish_id
        where 1=1
         <if test="author!= null and author!= ''">
			and b.author like '%${author}%'
		</if>
		<if test="title != null and title != ''">
			and b.title like '%${title}%'
		</if>
    </select>

</mapper>