<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link rel="stylesheet" th:href="@{/style.css}"></link> -->
<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/libs/vue.min.js"></script>
<script src="/libs/jquery.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />  
</head>
<script>
	function htmlOnLoad() {
		
	}
</script>
<body onload="htmlOnLoad()">

<h2>登录</h2>

<p th:if="${param.error}">有错误，请重试</p>
<form method="post" th:action="@{/login}">
	<label for="username">账号:</label>
	<input type="text" name="username" placeholder="账号" size="30"></input>
	<br/>
	<label for="username">密码:</label>
	<input type="password" name="password" placeholder="密码" size="30"></input>
	<br/>
	<input type="submit"></input>
</form>

</body>
</html>