<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<script>
	function htmlOnLoad() {
		
	}
</script>
<body onload="htmlOnLoad()">

<h2>登录</h2>


<form method="post" th:action="@{/login}">
	<label for="username">账号:</label>
	<input type="text" name="username" placeholder="账号" size="30"></input>
	<br/>
	<label for="username">密码:</label>
	<input type="password" name="password" placeholder="密码" size="30"></input>
	<br/>
	<input type="submit" value="登录"></input>
</form>
<p th:if="${param.error}">有错误，请重试</p>
<p th:if="${param.logout}">系统注销成功</p>
</body>
</html>